#
# Egalax Touchscreen proprietary driver configuration
#

config TOUCHSCREEN_EGALAX_PROP
	tristate "EETI eGalax touch panel support - proprietary driver"
	depends on I2C && OF
	default n
	help
	  Say Y here to enable support for I2C connected EETI
	  eGalax multi-touch panels.

	  To compile this driver as a module, choose M here: the
	  module will be called egalax_touch.


